[Unit]
Description=Audio Players
#After=network-online.target
#Wants=network-online.target
After=multi-user.target brutefir-filters.service

[Service]
Type=oneshot
ExecStart=/usr/bin/controlaudio start

[Install]
WantedBy=multi-user.target
