
[Unit]
Description=BlueAlsa-Aplay
Requires=bluetooth.service bluealsa.service
After=bluealsa.service sys-subsystem-bluetooth-devices-hci0.device sound.target checkuserconfig.service

[Service]
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStart=/usr/bin/bluealsa-aplay 00:00:00:00:00:00 -d $AUDIO_OUTPUT --profile-a2dp -v
Restart=always
