[Unit]
Description=Bluetooth reconnect service
ConditionPathIsDirectory=/sys/class/bluetooth
After=bluetooth-simpleagent.service
BindsTo=bluealsa-aplay.service

[Service]
Type=simple
ExecStart=/usr/bin/bluetooth-reconnect
Restart=always
ExecStopPost=/usr/bin/bluetooth-disconnect

[Install]
WantedBy=bluetooth.target
