[Unit]
Description=Bluetooth simple authentication service
ConditionPathIsDirectory=/sys/class/bluetooth
Requires=bluetooth.target
After=bluetooth.service bluetooth.target bluetooth-broadcastname.service checkuserconfig.service systemd-hostnamed.service
Before=bluealsa.service
BindsTo=sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
ExecStartPre=/bin/sleep 3
ExecStartPre=/usr/bin/bluetooth-simpleagent-starter
ExecStart=/usr/bin/bluetooth-simpleagent
Restart=always

[Install]
WantedBy=bluetooth.target
