[Unit]
Description=Bluetooth database backup
After=sys-subsystem-bluetooth-devices-hci0.device checkuserconfig.service
Before=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/bluetooth-dbbackup

[Install]
WantedBy=multi-user.target
