[Unit]
Description=BluezAlsa proxy
ConditionPathIsDirectory=/sys/class/bluetooth/hci0
Requires=bluetooth.target
After=bluetooth.target sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStartPre=/bin/rm -rf /var/run/bluealsa/

ExecStart=/usr/bin/bluealsa

Restart=always

[Install]
WantedBy=bluetooth.target
