
[Unit]
Description=BlueAlsa-Aplay
After=sys-subsystem-bluetooth-devices-hci0.device sound.target checkuserconfig.service
StartLimitIntervalSec=20
StartLimitBurst=10
Requires=bluetooth-simpleagent.service bluetooth-reconnect.service

[Service]
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStartPre=/bin/hciconfig hci0 class 0x200428
ExecStart=/usr/bin/bluealsa-aplay -vv 00:00:00:00:00:00 --pcm $AUDIO_OUTPUT --profile-a2dp
Restart=always
RestartSec=30
