[Unit]
Description=Brutefir convolution engine

[Service]
TimeoutStartSec=3
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStartPre=/usr/bin/generate-brutefirconfig
ExecStart=/bin/brutefir /etc/brutefir/brutefir.conf
ExecStartPost=/bin/sh -c 'until jack_lsp | grep brutefir &> /dev/null ; do sleep 0.2 ; done'
ExecStartPost=/bin/sh -c 'echo BruteFIR is up and running!'
Restart=always
