[Unit]
Description=Brutefir filter caretaker
After=local-fs.target brutefir-filters.service
Before=audioplayers.service

[Service]
Type=exec
ExecStart=/usr/bin/brutefir-checkfilters

[Install]
WantedBy=multi-user.target
