[Unit]
Description=Gmedia Renderer Audio Player
After=syslog.target sound.target audioplayers.target network-online.target checkuserconfig.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/gmediarender-starter
Restart=always
RestartSec=3
Startlimitburst=15
