[Unit]
Description=busybox http daemon
Requires=network.target checkuserconfig.service
After=checkuserconfig.service

[Service]
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStart=/sbin/httpd -f -v -h /opt/www/ -c /etc/httpd.conf
Restart=always

[Install]
WantedBy=multi-user.target
