[Unit]
Description=Jack Daemon
Before=jackminimix.service
Wants=jackminimix.service

[Service]
#Type=notify
Type=simple
TimeoutStartSec=3
EnvironmentFile=/boot/userconfig.txt
ExecStart=/bin/jack-starter
ExecStartPost=/bin/sh -c 'until jack_lsp &> /dev/null ; do sleep 0.1 ; done'
ExecStartPost=/bin/sh -c 'echo jackd is up and running!'
ExecStopPost=/bin/sh -c 'while jack_lsp &> /dev/null ; do sleep 0.1 ; done'
ExecStop=/bin/kill -9 $MAINPID
Restart=always
