[Unit]
Description=Flexible IR remote input/output application support
After=network.target

[Service]
Type=forking
PIDFile=/var/run/lirc/lircd.pid
ExecStart=/usr/sbin/lircd --loglevel=3

[Install]
WantedBy=multi-user.target
