[Unit]
Description=Squeezelite Audio Player
After=syslog.target sound.target audioplayers.target brutefir-filters.service brutefir-checkfilters.service jackd.service jackminimix.service network.target checkuserconfig.service
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/squeezelite-starter
Restart=always

[Install]
WantedBy=audioplayers.target

