[Unit]
Description=WPA supplicant daemon (interface-specific version)
#Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=systemd-networkd.service
Wants=network.target
ConditionPathExists=/etc/systemd/network/25-wireless.network

# NetworkManager users will probably want the dbus version instead.

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant-%I.conf -i%I
Restart=on-failure
StartLimitBurst=5
StartLimitIntervalSec=10


[Install]
Alias=multi-user.target.wants/wpa_supplicant@%i.service
