[Unit]
Description=Aroio GPIO daemon
After=sound.target
Before=audioplayers.service

[Service]
EnvironmentFile=/boot/userconfig.txt
Type=simple
ExecStartPre=/bin/sh -c "dd if=/dev/zero bs=1024 count=1 | aplay -D vol-plug-dmix -f cd"
ExecStartPre=/bin/sh -c 'amixer sset Master $(( $VOLUME_START * ( 32 / 10 ) + 255 ))'
ExecStart=/bin/sh -c /usr/bin/aroio_gpio

[Install]
WantedBy=sound.target
