[Unit]
Description=Audio Players
After=sound.target network.target bluetooth.target checkuserconfig.service brutefir-checkfilters.service

[Service]
Type=oneshot
ExecStart=/usr/bin/controlaudio start

[Install]
WantedBy=sound.target
