[Unit]
Description=Bluetooth simple authentication service
ConditionPathIsDirectory=/sys/class/bluetooth
Requires=bluetooth.target
After=bluetooth.service bluetooth.target bluetooth-broadcastname.service checkuserconfig.service systemd-hostnamed.service
Before=bluealsa.service

[Service]
Type=simple 
EnvironmentFile=/boot/userconfig.txt
ExecStartPre=/bin/hciconfig hci0 up piscan sspmode 0 class 0x200428
ExecStartPre=/bin/hciconfig hci0 name ${PLAYERNAME}
ExecStart=/usr/bin/bluetooth-simpleagent
Restart=always

[Install]
WantedBy=multi-user.target
