[Unit]
Description=Bluetooth database backup
Before=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/bluetooth-dbbackup

[Install]
WantedBy=multi-user.target
