
[Unit]
Description=BlueAlsa-Aplay
Requires=bluetooth.service bluealsa.service
After=bluealsa.service sys-subsystem-bluetooth-devices-hci0.device sound.target checkuserconfig.service
BindsTo=sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStart=/bin/taskset -c 2,3 /usr/bin/bluealsa-aplay 00:00:00:00:00:00 -d $AUDIO_OUTPUT
Restart=always

#[Install]
#WantedBy=multi-user.target
