[Unit]
Description=setting bluetooth broadcast name
#ConditionPathIsDirectory=/sys/class/bluetooth
After=preparenetwork.service bluetooth.target bluetooth.service

[Service]
Type=oneshot
EnvironmentFile=/boot/userconfig.txt
ExecStart=/bin/hciconfig hci0 name ${PLAYERNAME}

[Install]
WantedBy=multi-user.target
