[Unit]
Description=Brutefir filter caretaker
After=local-fs.target checkuserconfig.service brutefir-filters.service
Before=audioplayers.service

[Service]
Type=simple
ExecStart=/usr/bin/brutefir-checkfilters

[Install]
WantedBy=local-fs.target
