[Unit]
Description=Brutefir filter preparation
After=local-fs.target checkuserconfig.service
Before=brutefir-checkfilters.service audioplayers.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/bin/zcat /etc/brutefir/filter.tgz | tar -mxvf - -C /run"

[Install]
WantedBy=local-fs.target
