[Unit]
Description=Gmedia Renderer Audio Player
After=syslog.target sound.target audioplayers.target network-online.target checkuserconfig.service
Requires=network.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStart=/bin/gmediarender -f $PLAYERNAME --gstout-audiosink alsasink --gstout-audiodevice $AUDIO_OUTPUT
Restart=always

[Install]
WantedBy=audioplayers.target
