[Unit]
Description=Hostapd preparator
Wants=udhcpd.service
After=checkuserconfig.service sys-subsystem-net-devices-wlan.device
Before=udhcpd.service preparenetwork.service

[Service]
Type=oneshot
EnvironmentFile=/boot/userconfig.txt
ExecStart=-/bin/sh -c "[ $WLANSSID = AroioAP ] && touch /tmp/network_unconfigured"
#ExecStart=/bin/sh -c "ifconfig wlan0 | grep 'inet addr' || ifconfig eth0 | grep 'inet addr' ||  touch /tmp/network_unconfigured "

[Install]
WantedBy=multi-user.target
