[Unit]
Description=Hostapd Authenticator
Wants=udhcpd.service
After=systemd-networkd.service
After=sys-subsystem-net-devices-wlan.device
After=udhcpd.service hostapd-preparation.service
ConditionPathExists=/tmp/network_unconfigured
#Conflicts=wpa_supplicant@wlan0.service

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStartPre=-/bin/systemctl stop wpa_supplicant@wlan0.service
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd.conf -P /run/hostapd.pid -B

[Install]
WantedBy=multi-user.target
