[Unit]
Description=ifplugd - Watching wlan0 interface carrier
After=mount.target

[Service]
Type=simple
ExecStart=/sbin/ifplugd -n -t 1 -d 0 -a -f -I -b -i wlan0 
Restart=always

[Install]
WantedBy=multi-user.target
