[Unit]
Description=Jack Daemon
After=syslog.target sound.target checkuserconfig.service brutefir-checkfilters.service
Before=squeezelite.service gmediarender.service shairport-sync.service bluealsa-aplay.service brutefir.service
#Requires=audioplayers.target

[Service]
TimeoutStartSec=3
Type=simple
EnvironmentFile=/boot/userconfig.txt
ExecStart=/bin/jackd -R -d alsa -r $RATE -p $JACKBUFFER -n $JACKPERIOD
ExecStartPost=/bin/sh -c 'until jack_lsp ; do sleep 0.2 ; done'
ExecStopPost=/bin/sh -c 'while jack_lsp ; do sleep 0.2 ; done'
ExecStop=/bin/kill -9 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
