[Unit]
Description=udhcpd DHCP server
After=systemd-networkd.service
After=sys-subsystem-net-devices-wlan.device hostapd-preparation.service
BindsTo=hostapd.service
ConditionPathExists=/tmp/network_unconfigured
#Conflicts=controlaudio.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c "ifconfig wlan0 192.168.99.1 up && route add -net 224.0.0.0 netmask 224.0.0.0 wlan0"
ExecStart=/sbin/udhcpd -f -S -I 192.168.99.1 /etc/udhcpd.conf
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
