body {
	margin:0;
	/*padding:5px;*/
	background: url(back_left.png) repeat-y;
	font-family: Arial, Helvetica, MS Sans Serif;
	font-size:11pt;
}


#outerbox {
	background: url(back_top.png) repeat-x;
	/*width:1024px;*/
	/*width:986px;*/
	/*height:768px;*/
	padding:42px 0 0 0;
}

#header {
	margin:0 0 0 95px;
	/*width:930px;*/
	width:892px;
	height:85px; /* wegen margin angepasst */
	padding: 32px 0 0 0; /* wegen Positionierung von men�-header angepasst */
	font-family: "Arial MT", Arial, Helvetica;
}

#header #back {
	background: url(back_menu.png) no-repeat;
	position:absolute;
	top:42px;
	left:95px;
	width:892px;
	height:115px;
}

/* ABACUS Logo */
#header #logo {
	position:absolute;
	left: 0;
	top: 20px;
	z-index:4; /* damit das Logo oben angezeigt wird */
}

/* Musik wie Licht */
#header #motto{
	position: absolute;
	left:255px;
	top:55px;
	color:#ffffff;
}

/* Sprachwahl Grafiken */
#header #language {
	position:absolute;
	left: 180px;
	top:123px;
	z-index:4; /* damit die Sprachwahl sich ganz oben befindet */
}

/* AGB und Impressum */
#header #information {
	position:absolute;
	left:868px;
	top:118px;
	z-index:4;
}
#header #information a{
	color:#ffffff;
}

#header #symbol {
	position:absolute;
	top: 0;
	left: 0;
}

#header #kontakt {
	position:absolute;
	top:90px;
	left:890px;
	z-index:4;
}

/* hellblauer Hintergrund f�r Men� */
#nav-header {
	background: url(back_menu_front.png) no-repeat;
	width:750px;
	height: 48px; /* Anpassung wegen margin */
	margin:0 0 0 60px;
	padding: 30px 0 0 86px; /* zur Positionierung des Texts */
	position:absolute; /* Fix f�r Firefox, sonst werden Texte unter dem Men� zur Seite geschoben */
	z-index:3; /* damit sich das Men� �ber den Content legt */
}

/* Links im Men� */
#nav-header a {
	color: #000000;
	text-decoration: none;
	font-size:11pt;
}



#footer {
	background: url(bottom.png) no-repeat;
	text-align:center;
	width:986px;
	height:28px;
	position:fixed;
	bottom:0px;
}


/* Allgemeine Formatierungen */
img {
    margin-top: 5px;
    margin-bottom: 5px;
	border: 0;
}

.clear {
	clear:both;
}

/********************** Content ***********************/
#content {
	margin:15px 0 0 95px;
	text-align:justify;
	position:relative; /* setzt den Layer vor das Symbol */
}

#content #main {
	width:890px;
}

#content .floatLeft {
	float:left;
	margin:4px 10px 4px 0;
}
#content .floatRight {
	float:right;
	margin:4px 0 4px 10px;
}

#content h1 {
	font-size:16pt;
	margin: 0 0 0.5em 0;
}
#content h2 {
	font-size:14pt;
	margin-bottom: 0.5em;
}
#content h3 {
	font-size:12pt;
	margin-bottom: 0.5em;
}

#content #breadcrumb {
	margin: 0 0 20px 0;
}

#content p {
	margin-bottom:0.5em;
}

#content ul li {
	margin-left:20px;
}

#content table.rahmen, #content table.rahmen td {
	border: 1px solid #c0c0c0;
}

#content .produkt {
	margin: 10px 0 0 0;
}

/********************* Navigation *********************/

/* Formatierungen f�r mehr-Level Men� */
#nav-header ul {
	list-style:none;
	padding:0;
	margin:0;
}

#nav-header > ul > li, #nav-header > ul > li > ul > li{
	float:left;
	/*width:5em;*/ /* sonst werden die Untermen�s nebeneinander statt untereinander angezeigt */
	width:120px;
	text-align:center;
}



/* Optische Anpassungen */
#nav-header ul li {
	border-left: 2px solid #999999;
	line-height: 24pt;
}

#nav-header ul ul li {
	border:0px;
	background: #bcdfe7;
	line-height:18pt;
}

#nav-header ul ul li:hover {
	background:#c7f3fc;
}


/* Blende Untermen�s aus */
#nav-header ul ul, #nav-header ul li:hover ul ul, #nav-header ul ul li:hover ul ul {
	display: none;
}

/* Zeige Untermen�s wieder an */
#nav-header ul li:hover ul, #nav-header ul ul li:hover ul, #nav-header ul ul ul li:hover ul {
	display: block;
}

/* dritte und vierte Ebene */
#nav-header ul ul ul, #nav-header ul ul ul ul { 
	position:absolute;
	margin-left:120px;
	margin-top:-24px;
}

#nav-header ul ul ul li, #nav-header ul ul ul ul li  {
	clear:left;
	/*width:175px;*/
	background: #9fcbd4;
	padding: 0 5px 0 5px;
	min-width:120px;
}


#nav-header ul > li > ul > li > ul > li> ul > li {
	min-width:140px;
}

/********************* Galerie *********************/
.galerie .thickbox {
	float:left;
	padding:5px;
}


/********************* Kontaktmailer *********************/
/* Label */
.formgen label {
	width: 120px;
	height: 20px;
	line-height:20px;
	clear: left;
	float: left;
}
.formgen form {
	line-height:20pt;
}

/* "Input" Block */
.formgen .formblock {
	padding: 3px ;
}

.formgen input {
	width: 230px;
	height: 20px;
}

/* Mehrzeiliges Eingabefeld */
.formgen .formtextfield {
	margin-top:5px;
	width: 450px;
	height: 170px;
}

/* Sende-Button */
.formgen .formsubmit {
	position:relative;
	left: 120px;
	width:100px;
	height:22px;
}

/* Markierung der Labels bei Fehler */
.formgen .formerror {
	border-bottom-width: 1px;
	color: #990000;
}

.formgen .formcaptcha {
	border: 2px solid #990000;
	vertical-align: top;
	float: left;
	margin-left: 120px;
	margin-right: 10px;
}


/********************* Warenkorb *********************/
#warenkorb {
	width:650px;
}

#warenkorb ul{
	list-style:none;
}

#warenkorb fieldset {
	border:0px;
}

#warenkorb fieldset legend{
	font-size:1.2em;
	font-weight:bold;
}

#warenkorb ul  li{
	padding:3px;
	line-height:20px;
	
	clear:left;
}

#warenkorb ul  li label, #warenkorb  .data div{
	float:left;
	width:130px;
	line-height:20px;
	
}

#warenkorb ul  li input{
	height:20px;
	width:250px;
}

#warenkorb .submit {

}

#warenkorb .warenkorb_form {
	clear:both;
}

/*
#warenkorb .left {
}
*/
#warenkorb .right {
	float:right;
}


/* Produkt�bersicht */
#warenkorb .artikel {
	float:left;
	width:300px;
}
#warenkorb .preis, #warenkorb .gesamt {
	float:left;
	width:80px;
}
#warenkorb .anzahl {
	float:left;
	width:50px;
}

#warenkorb .sum li:first-child {
	text-decoration:underline;
}


#warenkorb .anzahl input {
	width:35px;
}

/* �berschriften */
#warenkorb .simpleshop_list li:first-child {
	text-decoration:underline;
}


/* Bestell�bersicht */
#warenkorb ul.data li{
	line-height:1em;
}
